node_modules
coverage
*.log*
.nuxt
.nitro
.cache
.output
.npmrc
.env
notes.t
.DS_Store
.idea
.eslintcache
api-generator/typedoc.json
**/.DS_Store
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
notes.t
mapNotes.t
keptCodeFunctions.t
endpoint.sh
scrollnotes.t
pastCommands.txt
e2e
