:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);
}

:root {
    // --shared-background: url('/src/assets/img/blurredHouse.jpeg') no-repeat center center;
    --shared-background: url('/src/assets/img/white_bk.jpeg') no-repeat center center;

}
