:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
}

:root {
    --shared-background: url('/src/assets/img/basebackground.jpeg') no-repeat center center;
}
