// this html covers the whole system
html {
    height: 100%;
    font-size: 14px;

}

body {
    font-family: 'Lato', sans-serif;
    // color: whitesmoke;
    margin: 0; /* Remove default margins */
    // height: 100vh;
    // background-image: url('/src/assets/img/blurredhome.jpeg');
    background: var(--shared-background);
    // background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    // margin: 0;
    // padding: 0;
    // min-height: 100%;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // -webkit-transform: scale(0.999);
    // transform: scale(0.999);
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
    // background-image: url('/src/assets/img/blurredhome.jpeg');
    background: var(--shared-background);
    // background-image: url('/src/assets/img/radar_Fotor.png');
    // background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    // min-height: 5%;
}
