// this html covers the whole system
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 14px;
}
body {
    font-family: 'Lato', sans-serif;

    margin: 0; /* Remove default margins */
    background: var(--shared-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;


}

a {
    text-decoration: none;
}

.layout-wrapper {
    background: var(--shared-background);

      background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       background-attachment: fixed;
}


* {
    box-sizing: border-box;
}
