// this html covers the whole system
html {
    height: 100%;
    font-size: 14px;
    width: 100%;

}

body {
    font-family: 'Lato', sans-serif;
    // color: whitesmoke;
    margin: 0; /* Remove default margins */
    // height: 100vh;
    background-image: url('/src/assets/img/Roof_Systems_Background.jpeg');

    background-repeat: no-repeat;
    background-size: cover;

}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
    background-image: url('/src/assets/img/Roof_Systems_Background.jpeg');

    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    // min-height: 5%;
}
