.layout-main-container {
    // display: cover;
    // background-image: url('/dist/hudgrid.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // flex-direction: column;
    height: 100%;
    width: 100%;
    // justify-content: space-between;
    padding: 2rem 1rem 0 1rem;
    // transition: margin-left var(--layout-section-transition-duration);
    // -webkit-transform: scale(0.999);
    // transform: scale(0.999);
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
    // background-image: url('/dist/hudgrid.png');
    // background-position: center; /* Centers the image */
    // background-repeat: no-repeat; /* Prevents the image from repeating */
    // background-size: cover;
}
